section.menubar {
    z-index: 10000;
    width: 100vw;
    height: 30vh;
    padding-top: 3vh;
    position: fixed;
    background-image:linear-gradient(rgba(0,0,0,100),rgba(0,0,0,0));
    animation: displaymenu 0.5s ease-out forwards; 
}

section.menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.menubar ul li{
    float: right;
    display: inline;
    padding-right: 7vw;
}

section.menubar ul li.home {
    float: left;
    padding-left: 4vw;
}
section.menubar ul li a {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 0.7em;
    text-decoration: none;

    transition: background-size 0.25s ease-in-out;
    
}

section.menubar ul li a:hover {
    background-size: 100% 0.1em;
}
section.menubar ul li.home a {
    font-size: calc(2 * 0.75em);
}

@keyframes displaymenu {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}