.transition.parent {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.transition.gradient {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.transition.topgradient {
    background-image:linear-gradient(#CEDDFF00, #CEDDFF60);
    bottom: 0;
    top: 10;
}


.transition.bottomgradient {
    background-image:linear-gradient(#CEDDFF60, #CEDDFF00);
}

.transition.container {
    height:auto;
}

.transition.body {
    height:auto;
    background-color: #CEDDFF60;
}

.transition.body {
    padding: 40vh 16vw;
    color:white;
    text-shadow: 0 0 0.15em white;
}

.transition.body h1 {
    color: white;
    font-size: var(--fs-l);
    padding-bottom: 1.5vh;
    -webkit-text-stroke: var(--ts-l) black;
}
.transition.body p {
    color: white;
    font-size: var(--fs-750);
    -webkit-text-stroke: var(--ts-750) black;
}
.transition.body ul {
    list-style-type: circle;
    padding-left: 5vw;
    padding-top: 4vh;
    
}
.transition.body ul li {
    font-size: var(--fs-800);
    -webkit-text-stroke: var(--ts-800) black;
}


.font-fantasy {
    font-family: Calibri;

}

.alt-text {
    font-size: var(--fs-600);
    -webkit-text-stroke: var(--ts-600) black;
    color: lightgray;
    text-shadow: 0 0 var(--ts-600) white;
    padding-bottom: 2vh;
}