.transition.parent {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.transition.gradient {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.transition.topgradient {
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,255));
    bottom: 0;
    top: 10;
}


.transition.bottomgradient {
    background-image:linear-gradient(rgba(0,0,0,255), rgba(0,0,0,0));
}

.transition.container {
    height:auto;
}

.transition.body {
    height:auto;
    background-color: black;
}

.transition.body {
    padding: 40vh 16vw;
    color:white;
    text-shadow: 0 0 0.15em white;
}

.transition.body h1 {
    font-size: 1.5em;
    padding-bottom: 1.5vh;
    -webkit-text-stroke: 0.025em black;
}
.transition.body p {
    font-size: 1em;
    -webkit-text-stroke: 0.035em black;
}
.transition.body ul {
    list-style-type: circle;
    font-size: 1em;
    -webkit-text-stroke: 0.045em black;
    padding-left: 5vw;
    padding-top: 4vh;
}

.font-fantasy {
    font-family: fantasy;

}

.alt-text {
    font-size: 0.8em;
    color: lightgray;
    text-shadow: 0 0 0.08em white;
    padding-bottom: 2vh;
}