.sidebar {
    position: fixed;
    z-index: 100;
    transition: 0.5s ease-in-out;
    width: calc(clamp(20em, 30vw, 20em));
    height: 100vh;
    transform: translateX(-100%);
    left: 0;
    top: 0;

    background-color: #cccf;
}


.sidebar_content {
    padding: 7em 2.5em;
}

.sidebar a:hover {
    text-shadow: 0em 0em 0.75em #555;
}


.sidebar-activated {
    transform: translateX(0);
}














/* menubar thing */
/* Animation */
:root {
    --menubar-icon-size: var(--fs-850);
}

.menu-rectangle {
    z-index: 10001;
    position: fixed;
    left: 3em;
    top: calc(1.5 * var(--menubar-icon-size));
    width: calc(1 * var(--menubar-icon-size));
    height: calc(0.15 * var(--menubar-icon-size));
    /* border: 0.08em solid black; */
    background-image: linear-gradient(rgb(3, 3, 3), rgb(3, 3, 3));
    background-size: 100% calc(0.2 * var(--menubar-icon-size));
    background-repeat: no-repeat;

    transform: rotate(0);
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 20px #0000;
    transition: transform 0.5s, top 0.5s, width 0.5s, box-shadow 0.25s;
    box-shadow: 0 0 1em white, 
                0 0 1em white;
}


.top-menu {
    top: calc(1.2 * var(--menubar-icon-size));
}

.bottom-menu {
    top: calc(1.8 * var(--menubar-icon-size));
}

.mid-menu.menu-close {
    z-index: 10005;
    transform: rotate(-45deg);
    top: calc(1.5 * var(--menubar-icon-size));
}

.top-menu.menu-close {
    transform: translateX(calc((-0.70710678118 / 4 + 0.25) * var(--menubar-icon-size)))
            translateY(calc(-0.70710678118 / 4 * var(--menubar-icon-size))) rotate(45deg);
    top: calc(1.5 * var(--menubar-icon-size));
    width: calc(0.5 * var(--menubar-icon-size));
}

.bottom-menu.menu-close {
    width: calc(0.5 * var(--menubar-icon-size));
    transform: translateX(calc((0.70710678118 / 4 + 0.25) * var(--menubar-icon-size)))
            translateY(calc(0.70710678118 / 4 * var(--menubar-icon-size))) rotate(45deg);
    top: calc(1.5 * var(--menubar-icon-size));
}

#btn-toggle-menu {
    position: fixed;
    z-index: 10000;
    background-color: transparent;
    width: 100vw;
    height: 7em;
    top: 3vh;
}


