* {
    padding: 0;
    margin: 0;
}

:root {
    --clr-0: #e4eef7;
    --clr-1: #F5EFE6;
    --clr-2: #E8DFCA;
    --clr-3: #AEBDCA;
    --clr-4: #7895B2;

    --fs-xl: 5rem; --ts-xl: 0.25rem;
    --fs-l: 3.5rem; --ts-l: 0.1rem;
    --fs-m: 3rem; --ts-m: 0.16rem;
    --fs-850: 2.5rem; --ts-850: 0.1rem;
    --fs-800: 2rem; --ts-800: 0.08rem;
    --fs-750: 1.875rem; --ts-750: 0.06rem;
    --fs-700: 1.75rem; --ts-700: 0.06rem;
    --fs-600: 1.5rem; --ts-600: 0.025rem;
    --fs-500: 1.25rem; --ts-500: 0.0125rem;
    --fs-400: 1.1rem; --ts-400: 0.001rem;
    --fs-350: 1rem; --ts-350: 0.001rem;
    --fs-300: 0.875rem; --ts-300: 0.001rem;
    --fs-200: 0.8rem; --ts-300: 0.001rem;
}

@media (max-width: 50em) {
    :root {
        --fs-xl: 3.3rem; --ts-xl: 0.08rem;
        --fs-l: 3rem; --ts-l: 0.05rem;
        --fs-m: 2.2rem; --ts-m: 0.04rem;
        --fs-850: 2rem; --ts-850: 0.03rem;
        --fs-800: 1.7rem; --ts-800: 0.028rem;
        --fs-750: 1.5rem; --ts-750: 0.025rem;
        --fs-700: 1.45rem; --ts-700: 0.02rem;
        --fs-600: 1.4rem; --ts-600: 0.003rem;
        --fs-500: 1.25rem; --ts-500: 0.0125rem;
        --fs-400: 1rem; --ts-400: 0.001rem;
        --fs-350: 0.875rem; --ts-350: 0.001rem;
        --fs-300: 0.75rem; --ts-300: 0.001rem;
        --fs-200: 0.6rem; --ts-300: 0.001rem;
    }
}
section.page {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section.page1 {
    background-color: var(--clr-2);
}

section.page1 .title {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

section.page1 .title h1 {
    text-align: center;
    max-width: 30%;
    transform: translateX(-20vw);
    font-size: var(--fs-m);
}

section.page1::after {
    position: absolute;
    content: "";
    height: 2vh;
    width: 100%;
    top: 96vh;
    padding: 0;
    margin: 0;
    z-index: 2;
    background-color: var(--clr-1);
}
section.page1::before {
    position: absolute;
    content: "";
    height: 6vh;
    width: 100%;
    top: 94vh;
    padding: 0;
    margin: 0;
    z-index: 1;
    background-color: var(--clr-2);
}


section.page1 .circle1 {
    position: absolute;
    background-color: var(--clr-1);
    border-radius: 50%;
    height: 50vw;
    width: 50vw;
    bottom: -10vw;
    right: -10vw;
    opacity: 0.8;
    animation: circle1 1.5s forwards ease-in-out;
}

section.page1 .circle2 {
    position: absolute;
    background-color: var(--clr-1);
    border-radius: 50%;
    height: 100vh;
    width: 100vh;
    top: -50%;
    left: -10%;
    opacity: 0.4;
    animation: circle2 3s forwards ease-in-out;
}
section.page1 .circle3 {
    position: absolute;
    background-color: var(--clr-1);
    border-radius: 50%;
    height: 100vh;
    width: 100vh;
    bottom: -10%;
    left: 40%;
    opacity: 0.2;
    animation: circle3 5s forwards ease-in-out;
}
@media (max-width: 50em) {
    section.page1 .circle1 {
        height: 70vw;
        width: 70vw;
        bottom: -10vw;
        right: -10vw;

    }
    section.page1 .circle2 {
        height: 70vh;
        width: 70vh;
        top: -30%;
        left: -30%;
    }
    section.page1 .circle3 {
        height: 100vh;
        width: 100vh;
        bottom: -20%;
        left: -10%;
    }
}

@keyframes circle1 {
    0% {
        transform: translateX(0vw)
    }
    100% {
        transform: translateX(-55vw)
    }
}

@keyframes circle2 {
    0% {
        transform: translateX(-30vw)
    }
    100% {
        transform: translateX(0vw)
    }
}
@keyframes circle3 {
    0% {
        transform: translateX(-10vw)
    }
    100% {
        transform: translateX(10vw)
    }
}
