@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Courgette&family=Gemunu+Libre:wght@600;700;800&display=swap');



.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.timeline {
    font-family: 'Gemunu Libre', sans-serif;
    width: 80%;
    height: auto;
    max-width: 80vw;
    margin: 0 auto;
    position: relative;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    padding: 20px;
    background-color: #c0c0c0;
    margin-bottom: 1.5em;
    border-radius: 0.75em;
}

.timeline-element h1 {
    font-size: 1.5em;
}

.timeline-element p {
    font-size: 1em;
}

@media only screen and (min-width: 800px) {

    .timeline ul li {
        padding: 20px;
        background-color: #c0c0c0;
        margin-bottom: 1.5em;
        border-radius: 0.75em;
        max-width: 30em;
    }
    
    .timeline ul li:nth-of-type(odd) {
        float: left;
        clear: right;
    }
    .timeline ul li:nth-of-type(even) {
        float: right;
        clear: left;
    }

    .timeline-element h1 {
        font-size: 2em;
    }
    
    .timeline-element p {
        font-size: 1.5em;
    }

    .timeline::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        width: 3px;
        height: 100%;
    }
}